asyncio
aiofiles
aiohttp
aioshutil
anytree
apscheduler
aioaria2
aioqbt
beautifulsoup4
cloudscraper
dnspython
fastapi
feedparser
google-api-python-client
google-auth-oauthlib
gunicorn
httpx
imdbinfo
langcodes
language-data
jinja2
lxml
motor
natsort
par2cmdline-turbo
pillow
psutil
pycountry
pymongo
pyrofork==2.2.11
pytgcrypto
python-magic
pytz
qbittorrent-api
requests
speedtest-cli
telegraph
tenacity
urllib3
uvicorn
uvloop
xattr
yt-dlp[default,curl-cffi]
